@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
button:hover {
    background-color: #02af44;
}

button {
    border: none;
    background-color: #00fbd2;
    color: #374b5c;
    width: 100%;
    border-radius: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

th {
    background-color: #00fbd2;
    color: #374b5c;
    border: #1a1e21;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(254, 243, 221);
    color: #374b5c;
    transition: all 0.3s;
}


#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #00fbd2;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

div.footer {
    min-width: 250px;
    max-width: 250px;
    background-color: #00fbd2;
}

div.footer h3{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

input, textarea{
    width: 100%;
}

input[type="file"]{
    background-color: gainsboro;
}

form {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
